<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= link_to "Cars", cars_path %> |
    <%= link_to "Brands", brands_path %> |
    <%= link_to "Classifications", classifications_path %> |
    <%= link_to "Structures", structures_path %> 
    <%= yield %>
  </body>
</html>
