<p id="notice"><%= notice %></p>

<form action="/cars" method="GET">

    <%= @fuel_id %>
    Fuel type: 
    <select name="fuel_id">
      <option disabled selected value> -- select an option -- </option>    
      <% Fuel.all.each_with_index do | f, index | %>
        <option value="<%= f.id %>" <% f.id.to_s == @fuel_id ? "selected" : "" %>> <%= f.name%> </option>
      <% end -%>
    </select>

    <br>
 
    <%= @type_id %>
    Classification: 
    <select name="type_id">  
      <option disabled selected value> -- select an option -- </option> 
      <% Type.all.each_with_index do | t, index | %>
        <option value="<%= t.id %>" <% t.id.to_s == @type_id ? "selected" : "" %>> <%= t.name%> </option>
      <% end -%>
    </select>

    <br>

  <input type="submit" />

</form>

<h1>Cars</h1>

<table>
  <thead>
    <tr>
      <th>Patent</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Classification</th>
      <th>Fuel type</th>
      <th>Price per day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.patent %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.type.name %></td>
        <td><%= car.fuel.name %></td>
        <td><%= car.price_day %></td>
        <td><%= link_to 'Show', car if can? :show, Car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) if can? :edit, Car %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }if can? :destroy, Car  %> </td> 
        <td><%= link_to "History", services_path(:car_id => car.id) if can? :index, Service  %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
