<p id="notice"><%= notice %></p>

<p>
  <strong>Patent:</strong>
  <%= @car.patent %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.type.name %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @car.fuel.name %>
</p>

<p>
  <strong>Price day:</strong>
  <%= @car.price_day %>
</p>

<%= link_to 'Edit', edit_car_path(@car) if can? :edit, Car%> |
<%= link_to 'Back', cars_path %>
