<<h1>Home</h1>

<h2>
    <strong> <%= link_to "Turns", turns_path %> </strong>
    <br>
    <br>
    <strong> <%= link_to "Medics", medics_path %> </strong>
    <br>
    <br>
    <strong> <%= link_to "Patients", patients_path %> </strong>
    <br>
    <br>
    <strong> <%= link_to "Specialities", specialities_path %> </strong>
	<br>
    <br>
    <strong> <%= link_to "Social Works", social_works_path %> </strong>
</h2>
